body {
    margin: 0px;
}

.flex {
    display: flex;
}

.end-center {
    justify-content: end;
    align-items: center;
}

.gap1em {
    gap: 1em;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.tooltip-1 {
    display: inline-block;
    background-color: grey;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: -14px;
    left: -144px;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear;
}

.tooltip-2 {
    display: inline-block;
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 40px;
    visibility: hidden;
    left: -67px;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear;


}

.tooltip-3 {
    background-color: #211121;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    color: white;
    position: absolute;
    top: -13px;
    left: -141px;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, visibility 0.5s linear;

}



.curve-1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid grey;
    top: 25px;
    left: 151px;
}



.curve-2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid lightblue;
    top: -8px;
    left: 84px;

}



.curve-3 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #211121;
    top: 27px;
    left: 138px;

}

.home {
    position: relative;
}

.project {
    position: relative;
}

.blog {
    position: relative;
}

.home:hover {
    text-decoration: underline;

    .tooltip-1 {
        visibility: visible;
    }
}

.project:hover {
    text-decoration: underline;

    .tooltip-2 {
        visibility: visible;
    }
}

.blog:hover {
    text-decoration: underline;

    .tooltip-3 {
        visibility: visible;
    }
}

.toolbar {
    background-color: brown;
    padding: 10px;
    box-sizing: border-box;
}