/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Bubbles&display=swap');
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

$primary-bg: #424242;

body {
    font-family: "Poppins", serif;
    height: 100vh;
    margin: 0px;
}

app-root, app-home {
    height: 100%;
    display: block;
}

app-card {
    height: 50%;
    min-height: 200px;
    max-height: 350px;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

// Flex styles
.flex {
    display: flex;
}

.center-center {
    justify-content: center;
    align-items: center;
}

.spacebetween-center {
    justify-content: space-between;
    align-items: center;
}

.column {
    flex-direction: column;
}

.gap-5px {
    gap: 5px;
}

// Text styles
.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

// Color styles
.bg-lightblue {
    background-color: lightblue;  
}

.bg-dark {
    background-color: $primary-bg;  
}

.color-white {
    color: white;
}


// Box model styles
.border-r-5px {
    border-radius: 5px;
}

.padding-5px {
    padding:5px;
    box-sizing: border-box;
}

.padding-0px-5px {
    padding:0px 5px;
    box-sizing: border-box;
}

.margin-b {
    margin-bottom: 5px;
}

// common styles
.pointer {
    cursor: pointer;
}

// Materials styles
.mdc-linear-progress {
    height: 23px !important;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.mdc-linear-progress__bar-inner {
    border-top-width: var(--mdc-linear-progress-track-height, 23px) !important;
    border-color: var(--mdc-linear-progress-active-indicator-color, #424242) !important;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: #424242 !important;
}

.mat-mdc-progress-bar .mdc-linear-progress__buffer-bar {
    background-color: #424242 !important;
    opacity: 0.24 !important;
}

.mat-mdc-card {
    background-color: rgb(66, 66, 66, 0.24) !important;
}