@mixin margin-ver($top: 0px , $btm: 5px) {
    margin: $top 5px $btm 5px;
}

.width-40 {
    width: 40%;  
}

.width-120px {
    width: 120px;
}

.flex-1 {
    flex: 1;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include margin-ver($top: 5px, $btm: 5px);

}

.border-2px {
    border: 2px solid grey;
}

.margin-5px {
    @include margin-ver($top: 5px);
}

.btn-container {
    @include margin-ver();
}