
.width-40 {
    width: 40%;  
}

.width-120px {
    width: 120px;
}

.flex-1 {
    flex: 1;
}

.item-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-2px {
    border: 2px solid grey;
}