<div class=" flex column gap-5px border-r-10px border-2px padding-5px full-height">
    <div class="item-container flex-1 border-r-10px text-center bg-lightblue">
        <div class="width-40">
            <h2>{{flashCards[0].question}}</h2>
        </div>
    </div>
    <div class="btn-container spacebetween-center padding-0px-5px flex bg-lightblue border-r-10px">
        <p class="width-120px pointer">< Previous</p>
        <p class="width-120px pointer text-center">Shiw answer</p>
        <p class="width-120px pointer text-end">Next ></p>
    </div>
</div>